@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #ff9d01;
  --secondary-color: #2a2a2c;
  --third-color: #ffdd99;
  --primary-text-color: #edfdef;
  --secondary-text-color: #2d2d2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--third-color);
}

.App {
  max-width: 1200px;
  margin: auto;
}

.form {
  margin-top: 10px;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.1);
  background-color: var(--primary-text-color);
  padding: 5px 30px;
  padding-bottom: 2rem;
}

.form > h1 {
  text-align: center;
  color: var(--secondary-color);
}

fieldset {
  padding: 5px;
  color: var(--secondary-color);
}

legend {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0 10px;
  color: var(--primary-color);
}

label {
  font-size: 1.2rem;
  width: 100px;
  padding-left: 4px;
  text-align: left;
  color: var(--secondary-color);
  font-weight: 600;
}

input,
textarea {
  width: 90%;
  font-size: 1.2rem;
  padding: 0 5px;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-text-color);
}

input[type="file"] {
  display: none;
}

.customInput {
  width: auto;
}

.control {
  display: flex;
  margin: 10px 0;
}

.group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.group > .control > input {
  width: 80%;
}

.addBtn,
.removeBtn,
.customInput {
  outline: none;
  padding: 5px 10px;
  margin: 5px;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.addBtn:hover,
.removeBtn:hover,
.customInput:hover {
  transform: scale(1.05);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.addBtn,
.customInput {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.removeBtn {
  background-color: #2a2a2c;
  color: var(--primary-color);
}

.CV {
  margin: 20px 0;
}

.CV > h1 {
  text-align: center;
}

.CVoutput {
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.1);
  background-color: var(--primary-text-color);
  padding: 20px 0;
  position: relative;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 350px 1fr;
  min-height: 1200px;
  margin: 0 auto;
  width: 80%;
}

.header {
  display: flex;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  width: 90%;
  margin: 10px auto;
  height: 250px;
  border-radius: 5px 50% 5px 50%;
  align-items: center;
  gap: 50px;
  font-size: 1.5rem;
  letter-spacing: 5px;
  z-index: 1;
  grid-column: 1 / 3;
}

.header img {
  width: 250px;
  object-fit: cover;
  border-radius: 100%;
  background-color: var(--secondary-text-color);
  padding: 5px;
  margin-left: 40px;
}

.rightSection {
  background-color: var(--secondary-text-color);
  height: 100%;
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 20rem;
}

.leftHeader {
  background-color: var(--primary-color);
  width: 90%;
  padding: 5px 30px;
  letter-spacing: 3px;
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-text-color);
}

.out {
  padding: 0 20px 0 40px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 30px;
  color: var(--secondary-color);
  font-size: large;
}

.block {
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
}

.insYear {
  width: 30%;
}

.titleDesc {
  width: 70%;
}

.titleDesc > p {
  font-size: .9rem;
}
